<div class="page-header">
	<div class="container">
		<div class="row">
	 		<div class="col-lg-3">
		 		<a class="brand" href="http://www.hbg.psu.edu"><%= image_tag("logo.jpg") %></a>
		 	</div>
	 		<div class="col-xs-9">
	  			<h1>Justin Keller</h1>
	  		</div>
	  	</div>
  	</div>
</div>