<div id="sidebar">
    <div id="nav">
        <ul>
        	<li><%= #link_to 'Home', controller: 'home' %></li>
        	<li><%= #link_to 'Teaching', controller: 'sections' %></li>
        </ul>
	</div>
</div>