<div id="sidebar">
    <div id="nav">
        <ul>
        	<li><%= #link_to 'Home', section_path(@section) %></li>
        	<li><%= #link_to 'Assignments', assignments_path(:id => @section.id) %></li>
        	<li><a href='#'>Calender</a></li>
        	<li><a href='#'>Lecture Notes</a></li>
        	<li><a href='#'>Course Documents</a></li>
        </ul>
	</div>
</div>