<% content_for :title, 'J. Keller' %>
<%= render 'shared/main_header' %>
<div id="wrapper">
	<%= render 'shared/main_nav' %>
  <div id="main">
  	<div id="content">
      	
  	</div>
  </div>
</div>
<%= render 'shared/footer' %>