<% content_for :title, 'J. Keller' %>
<%= render 'shared/main_header' %>
<%= render 'shared/main_nav' %>
<div class="row">
	<div class="col-xs-6">
		<h3>Contact</h3>
		<table class="table">
			<tr>
				<th>Office</th><th>W-XXX Olmstedd Bldg.</th>
			</tr>
			<tr>
				<th>Email</th><th><a href="mailto:jck26@psu.edu">jck26@psu.edu</a></th>
			</tr>
			<tr>
				<th>Phone</th><th>1 (717) XXX - XXXX</th>
			</tr>
		</table>
	</div>
	<div class="col-lg-6">
		<h3>Education</h3>
		<ul>
			<li>B.S. Mathematics and Physics, 2005, St. Lawrence University</li>
			<li>M.A. Mathematics, 2010, University of Colorado Boulder</li>
			<li>Ph.D. Mathematics, 2014, University of Colorado Boulder</li>
		</ul>
	</div>
</div>
