// Place all the styles related to the Announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anbox {
	border: 2px solid #abc5f5;
	margin: 0px 0px 20px 0px;
}

.anhead {
	background-color: #abc5f5;
	padding: 5px 0px;
}

.antitle, .ancontent {
	padding-left: 20px;
	padding-right: 20px;
}

.ancontent {
	padding-top: 20px;
	padding-bottom: 20px;
}

.andate {
	float: right;
	padding-right: 20px;
}